#iamage-container{
    /*
    background-image: url(img/bg.jpg);
    background: linear-gradient(rgba(46, 204, 113,1.0), rgba(52, 73, 94,1.0));
    */
    background-color: rgba(46, 204, 113,1.0);
    width: 100%;
    height: 500px;

}
#main-title-body{
  background-color: transparent;
  height: 400px;
  width: 700px;
  margin-left:15%

}
#main-title{
  height: 200px;
  width: 700px;
  background-color: transparent;
float: right;
padding-top: 40px;

}
#main-subtitle{
  background-color: ;
  width: 700px;
  height: 200px;
  float: left;
}
#main-title-button{
  background-color: transparent;
  height: 100px;
  width: 300px;
  margin-left: 30%;
  padding-top: 40px;
}
#main-title > p{
  text-align: center;
  font-size: 70px;
  font-family: 'Lobster', cursive;
  margin-top: 10px;
  color: white;
  text-shadow: 2px 0px 5px;
}
#main-subtitle > p{
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat'

}
#main-title-button > button{
  text-align: center;
  font-family: 'Righteous', cursive;
  width: 50%;
  margin-left: 15%;
  height: 70px;
  width: 200px;
  border-radius: 20px;
  background-color: white;
  color: #2ecc71;
  border:1px solid white;
  font-size: 20px;
}
#main-title-button > button:hover{
  color: white;
  background-color: #2ecc71;
  border: 2px solid white;
  transition: .5s;
}
#main-container-3{
  background-color: aliceblue;
  width: 100%;
  height: 480px;
}
#main-container-3-left{
  height: 480px;
  width: 35%;
  float: left;

}
#main-container-3-right{
  background-color: aliceblue;
  height: 480px;
  width: 65%;
  float: left;
  background-image: url(../img/cup.png);
}
#main-container-3-left > img{
  margin-left: 40%;
  padding-top: 12%;
}
.main-container-3-right-header{
  height: 100%;
  width: 100%;
  background-color: black;
}
.main-container-3-right-header-head{
  background-color: white;
  width: 80%;
  height: 30%;
}
